.img {
    max-width: 70px;
    max-height: 70px;
    margin: 20px;
}

.divv {
    display: inline-block;
    width: 49%;
    height: 80px;
}

.divv2 {
    display: inline-block;
    width: 49%;
}

.di {
    background-color: #f0f3f3;
    display: flex;
    align-items: center;
}

strong {
    font-size: 100%;
    margin-right: 15px;
}

.serIn {
    margin-right: 10px;
}

.serch {
    height: 40px;
    width: 420px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
}

.serIn {
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

.serBu {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
    font-weight: bold;
}

.serBu:hover {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #ffffff;
    outline: none;
    float: right;
    color: #1b5ac2;
    font-weight: bold;
    border-left: 1px solid #1b5ac2;
}

.mypage,
.login,
.join,
.logout {
    width: 65px;
    height: 30px;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
    margin: 5px;
    font-weight: bold;
}

.mypage:hover,
.login:hover,
.join:hover,
.logout:hover {
    width: 65px;
    height: 30px;
    border: 0px;
    background: #ffffff;
    outline: none;
    float: right;
    color: #1b5ac2;
    margin: 5px;
    font-weight: bold;
    border: 1px solid #1b5ac2;
}

.ul,
.tabli {
    list-style: none;
    padding-inline-start: 0px;
}

/*tab css*/
.tab {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.tabnav {
    font-size: 0;
    width: 100%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
}

.tabnav li {
    display: inline-block;
    width: 15%;
    height: 46px;
    text-align: center;
    border-right: 1px solid #ddd;
    margin-left: 4px;
    margin-right: 4px;
}

.tabnav li .taba:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 3px;
}

.tabnav li .taba.active:before {
    background: #1b5ac2;
}

.tabnav li .taba.active {
    border-bottom: 1px solid #fff;
}

.tabnav li .taba {
    position: relative;
    display: block;
    background: #1b5ac2;
    color: #fff;
    padding: 0px;
    line-height: 46px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 4px;
}

.tabnav li .taba:hover,
.tabnav li .taba.active {
    background: #fff;
    color: #1b5ac2;
    border: 1px solid #1b5ac2;
}

.tabli a {
    text-decoration: none;
    font-weight: bold;
}